@import "tailwindcss";

body {
  min-height: 200vh;
  background-color: #DAF8FF;
  background-image:
    radial-gradient(circle, #80DCFD 1px, transparent 1.5px),
    linear-gradient(to bottom, #DAF8FF 0%, #FEE8F1 100%);
  background-size:
    20px 20px,
    100% 100%;
  background-repeat:
    repeat,
    no-repeat;
}
