---
import "../styles/global.css";

import Landing from "../components/Landing.astro";
import Sidebar from "../components/Sidebar.astro";
import Footer  from "../components/Footer.astro";
import Mobile from "../components/Mobile.astro";


import DraggableLanding from "../components/about.jsx";
import Things from "../components/things.jsx"


---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/logo.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>acon</title>

		<script src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js" defer></script>
	</head>
	<body>
		
		<DraggableLanding client:load />
            	<Things client:load />

		<div class="md:hidden">
			<Mobile />


		</div>

		<div class="hidden md:block">
			<Sidebar />

			<div class="flex justify-center items-center my-24">
				<Landing />
				
			</div>

			<p class="my-100">yeah this site is pretty scuffed</p>

			<div class="bottom-0">
				<Footer />
			</div>
			
		</div>


		

	</body>
</html>
