<footer class="w-full py-4 bg-[#DAF8FF] bg-opacity-80 border-t border-gray-200 text-center">
  <p class="text-sm text-gray-600">
    built by acon &copy; 2025 // check out the <a href="https://github.com/acornitum/sitev5" class="text-[#61B8FF]" target="_blank" rel="noopenner noreferrer">github repo</a>!
  </p>
</footer>