---

import DraggableLanding from "../components/about.jsx";
import Things from "../components/things.jsx"

---

<div>

    <div class="">

        <div class="relative group">
            <p class="absolute top-6 -left-6 -rotate-12 text-3xl">hi, i'm</p>
            <p class="text-[120px] font-bold text-[#61B8FF]">acon</p> 
            <img src="/sparkup.svg" class="absolute -top-16 left-44"/>
            <img src="/sparkdown.svg" class="absolute -bottom-16 -left-36"/>
        </div>

        <div class="">
            <DraggableLanding client:load />
            <Things client:load />
        </div>
    
    </div>


</div>
