---
---

<div class="flex flex-col justify-center items-center mt-10">

    <div class="relative group scale-70">
        <p class="absolute top-6 -left-6 -rotate-12 text-3xl">hi, i'm</p>
        <p class="text-[120px] font-bold text-[#61B8FF]">acon</p> 
        <img src="/sparkup.svg" class="absolute -top-14 left-40"/>
        <img src="/sparkdown.svg" class="absolute -bottom-16 -left-36"/>
    </div>

</div>